<footer class="site-footer">

  <div class="wrapper">

    <div class="content row">
        <div class="col-xs-4">
        <h3><a target="_blank" href="http://berengere-mathieu.eu">Bérengère</a></h3>
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username="BerengereMathieu" %}
          </li>
        </ul>
        </div>
        <div class="col-xs-4">
	  <img class="img-responsive center-block" src="{{ site.url }}/Paulo/assets/avatar.svg" width="200px"></img>
        </div>
        <div class="col-xs-4">
        <h3><a target="_blank" href="http://jorquera.net">Tom</a></h3>
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username="tomjorquera" %}
          </li>

        </ul>
        </div>
        </div>
    </div>

</footer>
